.app-banner-listbox {
    background: transparent;
}

.app-banner-listbox>row {
    border-radius: 12px;
}

.title-1-row text {
    font-weight: 800;
    font-size: 20pt;
}

.title-2-row text {
    font-weight: 800;
    font-size: 15pt;
}

.cutout {
    border-radius: 9999px;
    padding: 2px;
}

.app-grid>* {
    border-radius: 24px;
}

.icon-grid {
    padding: 12px;
    background: transparent;
}

.icon-grid>child {
    min-height: 42px;
    min-width: 42px;
    border-radius: 8px;
}

.glyph {
    color: var(--dark-1);
}

@media (prefers-color-scheme: dark) {
    .glyph {
        color: var(--light-4);
    }
}

.search-chip {
    border-radius: 20px;
    min-height: 20px;
}
